# Ignore node_modules directory to prevent copying unnecessary dependencies
node_modules

# Ignore local editor settings
.vscode

# Ignore Git repository files
.git

# Ignore build folder
dist
build

# Ignore ESLint, Prettier, and other configuration files that aren't needed in the final image
.eslint*
.prettier*
.editorconfig
.DS_Store

# Ignore Docker-related files that are not needed in the final image
Dockerfile.tmp
docker-compose.*

# Ignore environment variable files
.env*

# Ignore logs and temporary files
*.log
*.tmp

# Other files
README.md
